numpy~=1.19.2
torch==1.6.0
https://github.com/phueb/Ludwig/archive/v4.0.3.tar.gz
pandas~=1.2.2
PyYAML~=5.4.1
matplotlib~=3.3.4
future~=0.18.2
seaborn~=0.11.1
scipy~=1.6.1
protobuf~=3.15.8
onnx~=1.9.0
tensorflow~=2.3.0
tensorflowjs~=3.6.0
onnx_tf~=1.8.0
PyInquirer==1.0.3